# experimental stuff that shouldn't be committed yet
/exp

# avoid committing some tests/benches which can be cloned/downloaded independently
/bench/v8-v7

# selfhosted artifacts
selfhosted/bundle.js
selfhosted/porf*
selfhosted/*.c

/test262/test262
# todo: commit some json to git history to help historical/collaborative info
/test262/*.json
/test262/.threads
